/*重置tabs样式*/
ion-tabs.tabs-color-active-assertive .tab-item {
   color: #C1C1C1;
}

/*重置banner样式*/
.slider-pager {
  font-size: 10px;
}

.slider-pager .slider-pager-page {
  color: #ffffff;
}

.home-bar {
  position: fixed;
  z-index: 999;
  background: rgba(212, 46, 68, 0);
}

.home-bar-icon {
  width: 20px;
  height: 20px;
  margin: 0 10px;
}

