<ion-tabs class="tabs-icon-top tabs-assertive tabs-background-dark tabs-color-light tabs-color-active-assertive">

  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home-outline" ui-sref="tab.home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="分类" icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" ui-sref="tab.category">
    <ion-nav-view name="tab-category"></ion-nav-view>
  </ion-tab>

  <ion-tab title="发现" icon-off="ion-ios-search" icon-on="ion-ios-search" ui-sref="tab.dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="购物车" icon-off="ion-ios-cart-outline" icon-on="ion-ios-cart-outline" ui-sref="tab.cart">
    <ion-nav-view name="tab-cart"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我的" icon-off="ion-ios-person-outline" icon-on="ion-ios-person-outline" ui-sref="tab.account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
